[Unit]
Description=Docker Application Container for OpenShift
Documentation=https://docs.openshift.org/
After=docker.service
Requires=docker.service
Conflicts=etcd kube-apiserver kube-controller-manager kube-scheduler kube-proxy kubelet
 
[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-/etc/sysconfig/openshift_option
ExecStartPre=-/usr/bin/docker stop openshift
ExecStartPre=-/usr/bin/docker rm openshift
ExecStartPre=-/usr/bin/docker tag ${DOCKER_REGISTRY}/${IMAGE} openshift
ExecStart=/usr/bin/sh -x /opt/adb/openshift $OPTIONS
ExecStartPost=/usr/bin/sh -x /opt/adb/openshift_provision
KillMode=process
Restart=on-failure
RestartSec=50s
   
[Install]
WantedBy=multi-user.target
